.aboutPlaceholder
{
  font-size: 1.9em;
}

@keyframes aboutBounce
{
  25% {transform: scale(1.5);}
  50% {transform: scale(1);}
  75% {transform: scale(1.5);}
  100% {transform: scale(1);}
}

.aboutBounce
{
  animation-name: aboutBounce;
  animation-duration: 1s;
  animation-delay:0.0s;
}

@keyframes aboutFade
{
  from {opacity:0}
  to {opacity:1}
}

.aboutFade
{
  animation-name: aboutFade;
  animation-duration: 1s;
}
