
.headerPlaceholder
{
  border-radius: 5px;
  background-color: grey;
  margin: 5px;
  padding: 10px;
  color: white;
}

.headerFlexRow
{
  display: flex;
}

.headerFlexColumn
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerFlexGrow
{
  flex-grow: 1;
}

.headerFlexShrink
{
  flex-shrink: 1;
}
